.shoppingCart {
  display: grid;
  min-height: 60vh;
  grid-template-rows: 100px 100%;
}

.mainContent {
  display: grid;
  grid-template-columns: 60% 40%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.image {
  height: 100px;
  width: 100px;
}

.summaryContainer {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
}
