.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  color: white;
  height: 100px;
}

.link {
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer {
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.footerNavDiv {
  display: flex;
  gap: 20px;
}

.footerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  color: grey;
}

.footerText {
  max-width: 500px;
}

.footerP {
  width: 1000px;
  color: grey;
}
